---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Social from "@/components/sections/Social.astro";
---

<Layout title="CV-Web Francisco José Rodríguez Martínez">
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
    <Social />
  </main>

  <KeyboardManager />
</Layout>
